.intlink:hover {
    text-decoration: underline;
}
  
.intlink {
    text-decoration: none;
    color: black;
}

.contact {
    text-align: center;
    color: lightcoral;
    font-size: 15px;
}

.indexbody {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
